{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" 
    integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" 
    crossorigin="anonymous">
    <link href="https://fonts.googleapis.com/css?family=Muli&display=swap" rel="stylesheet">
    <script
    src="https://code.jquery.com/jquery-3.4.1.js"
    integrity="sha256-WpOohJOqMqqyKL9FccASB9O0KwACQJpFTUBLTYOVvVU="
    crossorigin="anonymous"></script>
    <script src="{% static 'story8.js' %}"></script>
    <title>Story 8 Egi</title>
</head>
<body style="background-color:azure; font-family: 'Muli', sans-serif;">
    <h1>Search for books here!</h1>
    <input class="form-control" type="text" id="search" placeholder="Search here..." aria-label="Search" style="margin-left: 5px; margin-bottom: 20px; width: 500px; height: 50px; padding: 5px; border-radius: 10px;">
    <button type="button" id = "button" class="btn btn-dark" style="margin-left: 5px; margin-bottom: 20px;">Search</button>    
    <table class="table table-dark table-striped" id="books">
        <thead class="thead-dark">
          <tr>
            <th scope="col">title</th>
            <th scope="col">Book Cover</th>
            <th scope="col">Author</th>
            <th scope="col">Details</th>
          </tr>
        </thead>
    </table>
</body>
</html> 