{% load static %}
<!DOCTYPE html>

<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="{% static 'story7.css' %}">
    <link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
    <link href="https://fonts.googleapis.com/css?family=Muli&display=swap" rel="stylesheet">
    <script
    src="https://code.jquery.com/jquery-3.4.1.js"
    integrity="sha256-WpOohJOqMqqyKL9FccASB9O0KwACQJpFTUBLTYOVvVU="
    crossorigin="anonymous"></script>
    <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
    <script src="{% static 'story7.js' %}"></script>
    <title>Egi's Story 7</title>
</head>
<body>
    <div class="toggle-container">
        <div class="toggle"></div>
    </div>
    <h1>Hi, I'm Egi</h1>
    <div class="accordion">
        <div class="item activities">
            <h2 class="title" id="activities">Past Activities and Experiences</h2>
            <div class="desc">
                <p>1) Staff of Human Resources</p>
                <p>2) Head of Fundraising division</p>
                <p>3) Head of Human Resources class</p>
            </div>
        </div>
        <div class="item organizations">
            <h2 class="title" id="organizations">Organizations and Committees</h2>
            <div class="desc">
                <p>1) HR DPM Fasilkom UI</p>
                <p>2) Pemira IKM Fasilkom UI 2019</p>
                <p>3) SSD 2019</p>

            </div>
        </div>
        <div class="item achievements">
            <h2 class="title" id="achievements">Achievements</h2>
            <div class="desc">
                <p>1) Eaten 5 portions of instant noodle without help on 18th birthday</p>
                <p>2) Hunter Rank 300 in Monster Hunter World</p>
                <P>3) Killed a Furious Rajang</P>
            </div>
        </div>
    </div>
</body>
</html>