*{
    font-family: 'Muli', sans-serif;
}

.accordion{
    width: 50vw;
}
.title{
    background-color: white;
    color: deepskyblue; 
    cursor: pointer;   
    padding: 10px;
    border-radius: 20px;
}
.title.isDark{
    background-color: black;
    color: red; 
    cursor: pointer;   
    padding: 10px;
    border-radius: 20px;
}
.desc{
    background-color: white;
    color: deepskyblue;
    padding: 10px;
    border-radius: 20px;
    font-weight: bolder;
}   

h1{
    color: white;
}
body{
    box-sizing: border-box;
    padding-top: 150px;
    display: flex;
    min-height:100vh;
    flex-direction: column;
    align-items: center;
    background-image: url('/static/img/xerneas.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position-y: bottom;
    transition: 0.5s;
    overflow-y: hidden;
}

.title-shown-light{
    color : white;
    background-color: deepskyblue;
}

.title-shown-dark{
    color : black;
    background-color: red;
}

.toggle-container{
    width:100%;
    display: flex;
    justify-content: flex-end;
}
.toggle{
    margin-right:20px;
    margin-top: 20px;
    width: 80px;
    height:40px;
    border-radius: 20px;
    background-color:white;
    position: absolute;
    cursor: pointer;
    top: 0;
    right: 0;
    transition: 0.5s;
}
.toggle::before{
    content: "";
    position: absolute;
    top: 6px;
    left: 6px;
    width: 28px;
    height: 28px;
    border-radius: 50%;
    background-color: deepskyblue;
    transition: 0.5s;

}

.toggle.isDark::before{
    left: 45px;
    background-color: red;
    transition: 0.5s;
}
.toggle.isDark{
    background-color: black;
    transition: 0.5s;
}
